.wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper__item {
  width: 50vw;
  background-color: rgb(193, 204, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px;
  border: 3px solid black;
}

.wrapper img {
  width: 60%;
}
.wrapper button {
  margin: 30px;
  background-color: rgb(255, 179, 0);
  font-size: 25px;
  font-weight: 700;
  border-radius: 30px;
  padding: 15px 20px;
}

.modal-window-wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(41, 40, 40, 0.524);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-hide {
  visibility: hidden;
  opacity: 0;
}
.modal-hide .modal-window {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.4) translateY(-100px);
}
.modal-window {
  border: 3px solid red;
  padding-top: 30px;
  background-color: rgb(252, 233, 105);
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 3s;
}
